.calc {
	width: 676px;
	height: 600px;
	border-radius: 28px;
	overflow: hidden;
	background-color: #738396;
	box-shadow: 4px 4px 40px 5px rgba(17, 22, 44, 0.2);
	display: flex;
	flex-direction: column;

	// .calc__header
	&__header {
		background-color: #374352;
		height: 50px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// .calc__control
	&__control {
		background-color: #343a41;
		opacity: 0.5;
		width: 60px;
	}

	// .calc__img
	&__img {
		width: 10px;
	}

	// .calc__display--up
	&__display--up {
		opacity: 0.5;
		line-height: 1.2;
		color: #b6b9be;
	}

	// .calc__display
	&__display {
		background-color: #515c69;
		font-size: 34px;
		height: 145px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0 30px 30px;
	}

	&__buttons {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(4, 1fr) repeat(3, 80px);
		gap: 1px;

		flex-grow: 1;
	}

	// .calc__btn--num
	&__btn--num {
		background-color: #5b6a7c;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .calc__btn-operation
	&__btn-operation {
		background-color: #374352;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .calc__btn-operation-add
	&__btn-operation-add {
		background-color: #343a41;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .calc__img--radical
	&__img--radical {
		width: 24px;
	}

	&__btn-equal-sign {
		background: linear-gradient(-30deg, #fe2c75, #fca82c);
		grid-area: 5/3/5/5;
	}

	&__btn-operation--red-text {
		color: #fe3a6d;
	}
}
