._active {
	@include pos (fixed, 0, 0, 0, 0);

	visibility: visible;
	background-color: $bg-burger-color;
	height: 100vh;
	width: 100%;
	transition: all .5s ease-in-out;
	z-index: 1;
	transform: translateX(0);

	@include flex (flex-end, center, wrap, column-reverse);
}

// меняем бургер на крестик
// ._active+.header__burger-btn .header__burger-line::before {
// 	transform: rotate(90deg) translateX(10px);
// }

._active {
	+.header__burger-btn {
		.header__burger-line {
			&::before {
				transform: rotate(90deg) translateX(10px);
			}
		}
	}
}

._active+.header__burger-btn .header__burger-line {
	width: 40px;
	transform: rotate(-45deg) translateX(-15px);
}

._active+.header__burger-btn .header__burger-line::after {
	transform: scale(0);
}
._lock {
	overflow: hidden;
}