.btn {
	@include font ($fs: 1.3125rem, $lh: 1.05em, $fw: 800);
	height: 63px;
	border-radius: 30px;

	&:hover::before {
		transition: all .2s ease-in-out;
		transform: translateX(10px);
		}

	&--green {
		background-color: #0aa566;

		&:hover {
			background-color: #12c37c;
		}
	}

	&--border-orange {
		@include border (2px, solid, #f8b231);
	}

	&--left {
		transform: rotate(180deg);
		}
}