.menu {
	&__list {
		@include flex ($jc: center, $ai: center, $fw: wrap);

		@media only screen and (max-width: 1368px) {}

		// @media only screen and (max-width: 360px) {
		// 	@include flex (space-between, center, wrap, column);
		// 	@include box-size ($h: 300px);
		// }

	}

	&__item+&__item {
		margin-left: 32px;


		@media only screen and (max-width: 1368px) {
			margin: 0;
		}
	}

	&__item:hover {
		transition: all .2s ease-in-out;
		transform: scale(1.3);
	}

	&__link {
		@include font (1rem, 2.5em, -0.02em, uppercase, 700);
		position: relative;

		// @media only screen and (max-width: 360px) {
		// 	@include font ($fs: 1.25rem);
		// }

		&::after {
			@include pseudo;
			width: 0;
			height: 2px;
			@include pos ($position: absolute, $t: 22px, $l: 0);
			background-color: $bg-main-color;
		}

		&:hover::after {
			transition: all .2s ease-in-out;
			width: 100%;
		}

		&:active {
			color: #223499;
		}
	}
}

