.personal {
	&__list {
		@include flex ($ai: center);
	}

	&__icon:hover {
		transform: scale(1.3);
		}

	&__item+&__item {
		margin-left: 45px;
		}

	&__link--cart {
		position: relative;
	}

	&__count {
		@include pos ($position: absolute, $b: -10px, $l: 25px);
		@include font ($fs: 0.625rem, $text-trans: uppercase);
		@include flex (center, center, wrap);
		width: 21px;
		height: 21px;
		border-radius: 50%;
		background-color: $bg-main-color;
	}
}