.about {
	background-color: $bg-about-color;
	


	&__inner {
		@include flex(flex-start, center, wrap);
		height: 800px;
	@media only screen and (max-width: 1520px) {
		height: auto;
		justify-content: center;
		}
	}
&__wrapper {
	@include flex(center, center);
	flex-basis: 50%;
	@media only screen and (max-width: 1520px) {
		flex-basis: 52%;
		}
}

	&--yellow {
		color: #cae941;

		position: relative;

		&::before {
			@include pseudo;
			@include background (url(../images/about/about_line.png));
			@include pos ($position: absolute, $t: 65px, $l: -10px);
			width: 450px;
			height: 13px;
			@media screen and (max-width: 768px) {
				display: none;
				}
		}
	}

	&__img {
		transform: translate(-40px, 63px);				
		max-width: 690px;
		width: 100%;
    
	}

	&__wrap {
		@include flex (flex-start, flex-start, wrap, column);
		margin: 80px 0 95px 0;
		flex-basis: 50%;
		padding-left: 18px;
		
		
		
		// @media only screen and (max-width: 1520px) {
		// 	margin-left: 70px;
		// }

		// @media only screen and (max-width: 768px) {
		// 	margin-right: 40px;
		// 	}

	}

	&__title {
		max-width: 640px;
		margin-bottom: 55px;
		@include font ($fs: 3.4375rem, $lh: 1.1em);
	}

	&__list {
		list-style-image: url(../images/about/about_li.png);
		padding-left: 30px;
		margin-bottom: 32px;
		}

	&__item {
		@include font ($fs: 1.3125rem, $lh: 1.05em);
		margin-bottom: 22px;
		
		&--bold {
			font-weight: 800;
		}
	}

	&__btn {
		position: relative;
		width: 382px;
		text-indent: -5.25rem;
				
		&::before {
			@include pseudo;
			@include pos ($position: absolute, $t: 22px, $l: 305px);
			width: 30px;
			height: 16px;
			@include background (url("../images/base/arrow.png"));
		}
	}
}