.blog {
	padding: 90px 10px 200px;
	
	&__wrapper {
		@include flex (flex-start, center, wrap);
	}

	&__box {
		@include flex ($fd: column);
		
	}

	&__title {
		margin-bottom: 62px;
		}
		&__img {
			width: 100%;
		}

	&__text-box {
		padding: 225px 0 45px;
		
		position: relative;
		@media only screen and (max-width: 1216px) {
			margin-top: 30px;
			}

		&::before {
			@include pseudo;
			@include pos ($position: absolute, $t: -50px, $l: -70px);
			width: 685px;
			height: 12px;
			background-color: #f7ae3b;
			z-index: -1;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px; 
			
			@media only screen and (max-width: 1216px) {
				display: none;
		}
		}
	}

	&__subtitle {
		@include font ($fs: 1.9rem, $lh: 1.3em, $ls: -0.02em, $fw: 800);
		margin-left: 30px;
		}

	&__time {
		@include font ($fs: 1rem, $lh: 2.2em);
		margin-left: 30px;
		}

	&__text {
		max-width: 472px;
		margin: 25px 0 0 90px;
		}

	&__link {
		@include font ($fs: 1.125rem, $lh: 1.95em, $fw: 800);
		font-style: italic;
		position: relative;

		&::after {
			@include pseudo;
			@include pos ($position: absolute, $b: 5px, $r: -30px);
			width: 18px;
			height: 10px;
			@include background (url("../images/base/arrow.png"));
		}
	}
}