.footer {
	&__top {
		background-color: $bg-footer-color;
		padding: 75px 0 85px;
	}

	&__wrapper {
		@include flex (space-between, flex-start);

		@media only screen and (max-width: 1568px) {
			@include flex (center, center, wrap, column);
		}
	}

	&__logo {
		padding-top: 55px;
		flex-basis: 33%;
	}

	

	&__info {
		flex-basis: 21%;
	}

	&__title {
		font-size: 1.625rem;
		margin-bottom: 30px;
	}

	&__info-list {
		width: 170px;
	}

	&__info-link {
		@include font ($fs: 1.125rem, $lh: 1.95em, $ls: -0.02, $fw: 700);
		color: $text-footer-color;
	}

	&__pay {
		flex-basis: 27%;

		@media only screen and (max-width: 1552px) {
			
		}

	}

	&__pay-list {
		@include flex ($jc: flex-start, $ai: center, $fw: wrap);
		width: 270px;
	}

	&__pay-img {
		margin: 0 18px 20px 0;
		height: 100%;
	}

	&__box {
		flex-basis: 33%;
	}

	&__form {
		margin-bottom: 24px;
		position: relative;

		&::before {
			@include pseudo;
			@include pos ($position: absolute, $t: 22px, $l: 22px);
			width: 24px;
			height: 19px;
			@include background (url("../images/footer/footer_email.png"));
		}
	}

	&__input {
		max-width: 498px;
		width: 100%;
		height: 62px;
		outline: 0;
		max-width: 498px;
		text-indent: 65px;
		background-color: $bg-main-color;
		outline: 0;
		border-style: none;
		border-radius: 30px;

		&::placeholder {
			@include font ($fs: 1.05rem, $lh: 2.05em, $ls: -0.02em, $fw: 700);
			color: $text-footer-color;
		}
	}

	&__inner {
		@include flex ($ai: center);
		margin-left: 186px;
	}

	&__text {
		@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $text-trans: uppercase, $fw: 800);
		margin-right: 44px;
		color: $text-footer-color;
		position: relative;

		&::before {
			@include pseudo;
			@include pos ($position: absolute, $b: 7px, $l: -62px);
			@include background (url("../images/footer/footer_arrow.png"));
			width: 48px;
			height: 42px;
		}
	}

	&__social {
		display: flex;
	}

	&__bottom {
		background-color: $bg-footer-bottom-color;
		margin: 0 auto;
		@include flex ($jc: center, $ai: center);
		height: 60px;
	}

	&__small {
		@include font ($fs: 0.8rem, $lh: 2.7em, $ls: 0.02em);
		color: #af8a82;
		text-align: center;
	}

	&__link {
		background-color: #f2662f;
		width: 53px;
		height: 55px;
		@include pos ($position: fixed, $b: 50px, $r: 120px);
		z-index: 100;
		@include background (url(../images/footer/footer_arrow__up.png));
		background-size: 14px 25px;
		border-radius: 5px;

		&::before {
			@include pseudo ('Go top');
			@include pos ($position: absolute, $t: 40px, $r: 60px);
			@include font ($fs: 1rem, $lh: 2.5em, $ls: -0.02em, $fw: 700);
			width: 55px;
			height: 14px;
		}
	}
}