.header {
	// width: 100vw;
	min-height: 100vh;
	position: relative;


	// perspective-origin: center center;
	// transform-style: preserve-3d;


	&::before {
		@include pseudo;
		@include background (url('../images/header/header_bg.jpg'));
		@include pos($position: absolute, $t: 0, $b: 0, $l: 0, $r: 0);
		z-index: -1;
		transform-origin: center;
	}


	&__top {
		padding-top: 84px;
		margin-bottom: 120px;
		position: relative;

	}

	&__navigation {
		@include flex ($jc: space-between, $ai: center, $fw: wrap);
		z-index: 1;
		width: 100%;

		@media only screen and (max-width: 1368px) {
			display: none;
			}

	}


	&__right-block {
		@include flex ($jc: space-between, $ai: center);
	}

	&__personal {
		position: relative;
		margin-right: 134px;


		&::before {
			@include pseudo;
			@include pos ($position: absolute, $t: 10px, $l: 205px);
			width: 48px;
			height: 2px;
			background-color: $bg-header-color;
		}
	}

	&__logo {
		@include pos ($position: absolute, $t: 56%, $l: 50%);
		transform: translateX(-50%);
	}

	&__burger-btn {
		@include pos ($position: fixed, $t: 15px, $r: 25px);
		width: 50px;
		height: 50px;
		display: none;
		z-index: 1;
		@media only screen and (max-width: 1368px) {
			
				display: block;
			
		}
	}

	&__content {
		@include flex ($jc: center, $ai: center, $fd: column);
	}

	&__btn {
		width: 280px;
		height: 70px;
		border-radius: 35px;
		@include font (1.5rem, 2.5em, -0.02em, capitalize);
		text-indent: -84px;
		position: relative;


		&::before {
			@include pseudo;
			@include pos ($position: absolute, $t: 27px, $l: 210px);
			width: 30px;
			height: 16px;
			@include background (url('../images/base/arrow.png'));
		}
	}


	@media only screen and (max-width: 1440px) {

		&__personal::before {
			display: none;
		}
	}

	@media only screen and (max-width: 1368px) {
		&__burger-line {
			width: 35px;
			height: 2px;
			background-color: $burger-color;
			position: relative;
			display: block;
			transition: all .5s ease-in-out;
			background-color: $burger-color;


			&::after,
			&::before {
				@include pseudo;
				position: absolute;
				right: 0;
				width: 35px;
				height: 2px;
				background-color: $burger-color;
				}

			&::after {
				top: 10px;
				width: 30px;
				}

			&::before {
				top: -10px;
				width: 40px;
				}
		}

		// &__right-block {
		// 	@include pad(160px, 0, 240px, 0);
		// }

		// &__logo {
		// 	display: block;
		// 	@include pos ($t: 120%);
		// }
	}
}
