.smoothies {
	padding: 100px 0 115px;
	
	@media only screen and (max-width: 960px) {
		padding: 48px 0 90px;
		
	}

	&__title {
		text-align: center;
		margin-bottom: 40px;
		padding: 0 10px;
		@media only screen and (max-width: 960px) {
			margin-bottom: 24px;
			}
	}

	&__text {
		max-width: 915px;
		text-align: center;
		margin: 0 auto 40px;
		padding: 0 10px;
		}

	&__cards {
		@include flex ($jc: center, $ai: center, $fw: wrap);
		max-width: 1050px;
		margin: 0 auto;
		background-color: $bg-cards-color;
		@media only screen and (max-width: 960px) {
			max-width: 540px;
		}
	}

	&__item {
		@include flex ($jc: flex-end, $ai: center, $fd: column);
		width: 25%;
		height: 195px;
		background-color: $bg-main-color;
		&:nth-child(-n + 8) {

			border-right: 2px solid #f6edde;
		}

		&:nth-child(-n + 4) {
			border-bottom: 2px solid #f6edde;
		}

		&:nth-child(4),
		&:last-child {
			border-right: none;
		}
		@media only screen and (max-width: 960px) {
			width: 50%;
			
			&:nth-child(-n + 8),
			&:nth-child(-n + 4),
			&:nth-child(4),
			&:last-child {
				border: none;
			}
			&:nth-child(odd) {
				border-right: 2px solid #f6edde;
				border-bottom: 2px solid #f6edde;
			}

			&:nth-child(even) {
				border-bottom: 2px solid #f6edde;
			}

			&:nth-child(7),
			&:last-child {
				border-bottom: none;
			}
		}

		
	}

	&__desc {
		@include font ($fs: 1.5625rem, $lh: 1.6em, $ls: -0.02em, $fw: 800);
		margin: 27px 0 30px;
		text-align: center;
	}
	}

