.testimonials {
	background-color: #672f1b;
	position: relative;

	&::after {
		@include pseudo;
		@include pos ($position: absolute, $t: -80px, $r: 60px);
		width: 410px;
		height: 301px;
		@include background (url("../images/testimonials/testimonials_dots.png"));

		@media only screen and (max-width: 1440px) {
			display: none;
		}
	}

	&__inner {
		margin: 0 auto;
		padding: 116px 0 80px;
		}

	&__title {
		margin-bottom: 130px;
		text-align: center;

		&--big {
			text-transform: uppercase;
			color: $text-cards-color;
		}
	}

	&__box {
		@include flex (center, center, wrap);
		margin: 0 auto 120px;
		position: relative;
		@media only screen and (max-width: 1440px) {
			@include flex ($fd:column-reverse);
		}

		&::after {
			@include pseudo ('Sarah A');
			@include pos ($position: absolute, $t: 15px, $l: 41%);
			@include font ($fs: 12.5rem, $lh: 0.2em, $ls: -0.02em, $fw: 800);
			transform: translateX(-50%);
			opacity: 0.6;
			color: #521905;

			@media only screen and (max-width: 1440px) {
				display: none;
			}
		}

	}

	&__textbox {
		@include flex (center, center, wrap);
		margin: 35px 50px 0 0;
		max-width: 460px;

		@media only screen and (max-width: 960px) {
			margin: 80px 50px 0 0;
			}
	}

	&__quote {
		@include font ($fs: 1.1rem, $lh: 1.95em);
		margin-bottom: 10px;
		text-align: center;
		z-index: 1;

		@media only screen and (max-width: 768px) {
			margin: 0;
			}
	}

	&__cite {
		@include font ($fs: 1.1rem, $lh: 1.95em, $fw: 600);
		font-style: italic;
		text-align: center;
		color: #f7ae3b;
	}

	&__img {
		z-index: 1;
	}

	&__container {
		@include flex (center, center, wrap);
		margin: 0 auto;
		max-width: 160px;
		}

	&__btn {
		@include background (url("../images/base/arrow.png"));
		width: 30px;
		height: 16px;
		display: block;

		&:first-child {
			margin-right: 100px;
			}
	}

}